<div class="item">
  <span class="name">{{item.shopItem.name}}</span>
  <div class="control">
    <span class="price control-item">{{item.shopItem.price * item.quantity / 1000}} MC</span>
    <form [formGroup]="formGroup" class="number control-item">
      <label><input (blur)="updateQuantityField()" formControlName="quantity" max="50" min="1" step="1"
                    type="number"></label>
    </form>
    <span (click)="remove()" class="btn btn-error control-item">Remove</span>
  </div>
</div>
