@import "variables";

:host {
  flex-basis: 100%;
}

#youtube-container {
  width: 100%;
  height: 100%;
  background-color: $window-background;
}

#youtube {
  padding: 5px;
  color: $window-font-color;
}
