@import "../../../../constants";

:host {
  width: 100%;
  height: 100%;

  div.hardware-shop {
    width: 100%;
    height: 100%;
    background-color: $white;
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    div.header {
      position: fixed;
      z-index: 1;
    }

    div.content {
      position: relative;
      width: 100%;
      overflow-y: auto;

      div.body {
        padding: 10px;
      }
    }
  }
}
