<div class="hardware-shop" #hardwareShop>

  <!--  TODO -->
  <!--  <div class="header" #header [style.width.px]="width">-->
  <!--    <app-hardware-shop-header [cardItems]="getCartLenght()"-->
  <!--                              [cardVisibility]="cardVisibility"-->
  <!--                              (cartOpen)="setCardVisibility(true)"-->
  <!--                              (cartClose)="setCardVisibility(false)"-->
  <!--    ></app-hardware-shop-header>-->
  <!--  </div>-->

  <div [style.height]="'calc(100% - ' + header.offsetHeight + 'px)'" [style.top.px]="header.offsetHeight"
       class="content">

    <div class="body">
      <div *ngIf="!cardVisibility; else elseCardVisibility" class="hardware-shop-items">
        <div class="sidebar">
          <app-hardware-shop-sidebar (select)="selectCategory($event)"></app-hardware-shop-sidebar>
        </div>
        <div class="main">
          <app-hardware-shop-item-grid [category]="category"></app-hardware-shop-item-grid>
        </div>
      </div>

      <ng-template #elseCardVisibility>
        <div class="main">
          <app-hardware-shop-cart></app-hardware-shop-cart>
        </div>
      </ng-template>
    </div>
  </div>
</div>
