<div class="window-container">
  <div *ngFor="let window of windowManager.taskList">
    <app-window-frame [delegate]="window" [style.left.px]="window.position.maximized ? 0 : window.position.x"
                      [style.top.px]="window.position.maximized ? 0 : window.position.y"
                      [style.z-index]="window.position.zIndex"
                      style="position: fixed;">
      <ng-container [ngComponentOutlet]="window.type"></ng-container>
    </app-window-frame>
  </div>
</div>
