@import "../../../../../constants";

form {
  padding: 10px;

  display: flex;
  flex-direction: column;

  label {
    margin: 10px 0;

    display: flex;
    flex-direction: column;

    span.name {
      font-size: 15px;
    }

    input {
      padding: 4px;

      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid $black;
    }

    span.hint {
      font-size: 12px;
    }
  }

  div.buttons {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;

    span.save {
      flex-grow: 1;
      margin-right: 10px;
    }

    span.close {
      flex-grow: 1;
    }
  }
}
