<div #surface (contextmenu)="showContextMenu($event)" (mousedown)="checkWindowUnfocus($event)"
     (mousemove)="mousemove($event)"
     id="desktop-surface">
  <div (dblclick)="openProgramWindow(linkage)" (mousedown)="mousedown($event, i)" (mouseup)="mouseup()"
       *ngFor="let linkage of onDesktop(); index as i"
       [ngStyle]="{'left.vw': linkage.position.x | px2vw, 'top.vh': linkage.position.y | px2vh, 'z-index': linkage.position.z }"
       class="linkage"><img [src]="linkage.icon" alt=""/>{{linkage.displayName}}</div>
  <app-window-manager></app-window-manager>
  <app-context-menu #contextmenu (mouseleave)="hideContextMenu()" *ngIf="contextMenu"
                    [position]="contextMenuPosition"></app-context-menu>
</div>
<app-desktop-startmenu *ngIf="startMenu" [parent]="this" [target]="contextMenuTarget"
                       (mouseleave)="hideStartMenu()"></app-desktop-startmenu>
<app-desktop-menu (startMenu)="toggleStartMenu()"></app-desktop-menu>
