@import "~src/constants";


* {
  font-family: $default-font;
}

#desktop-surface {
  width: 100%;
  height: 100%;
  background: $black url('../../assets/desktop/img/cry_crack.png') no-repeat bottom;
  background-size: cover;
  box-sizing: content-box;
  overflow: hidden;
  z-index: 0;

  #version-info {
    text-align: right;
    margin-right: 1em;
    color: #696969;
    user-select: none;
    pointer-events: none;
  }

  .linkage {
    color: $white;
    position: absolute;
    width: 75px;
    min-height: 75px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    font-family: $default-font;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px black;

    &.not-allowed {
      background-color: rgba(50, 0, 0, 100) !important;
    }

    img {
      width: 40px;
      height: 40px;
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 1.5px 1.5px rgba(0, 0, 0, 0.45);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.45);
      box-shadow: inset 0 0 1.5px 1.5px rgba(0, 0, 0, 0.45);
    }
  }

}
