@use "sass:list";
@import "src/global-styles/_theme-colors.scss";

$flavors: (
  primary: (
    $primary-default
  ),
  success: (
    $success-default
  ),
  warning: (
    $warning-default
  ),
  danger: (
    $danger-default
  ),
  info: (
    $info-default
  ),
);

input {
  // TODO Clean up..
  width: fit-content;
  min-width: 90%;
  margin-top: 2px;
  margin-bottom: 1px;

  background-color: $input-background;
  color: $light-font;
  font-family: inherit;
  font-size: inherit;

  padding: 8px 16px 8px 16px;
  border: 0;
  border-radius: 8px;
  outline: none;

  &::placeholder {
    color: $placeholder-font
  }

  &:disabled::placeholder {
    color: $disabled-placeholder-font
  }

  @each $name, $colors in $flavors {
    &.#{$name} {

      @if $name == "danger"
      or $name == "warning"
      or $name == "success"
      or $name == "info" {
        border: 2px solid list.nth($colors, 1);
      } @else {
        &:focus {
          border: 2px solid list.nth($colors, 1);
        }
      }
    }
  }
}

small {
  font-size: 16px;
  display: block;
  color: $grey-font;
  @each $name, $colors in $flavors {
    &.#{$name} {
      color: list.nth($colors, 1);
    }
  }
}

label {
  font-weight: 500;
  color: $light-font;
}

span {
  vertical-align: top;
  display: inline-block;
}
