<div>
<h2>A short Introduction</h2>
<p>
  Welcome to Cryptic. Cryptic is a hacker browsergame. Within this project, the further education and training of people<br>
interested in computer science is promoted through the development of a game. And this is the game we are talking about.<br>
</p>


<p>You could start the game, with building your first device, by clicking the big green Button. After that, you can connect<br>
  to your device by clicking the blue screen.<br></p>



<p>The next step could be a wallet. You need a wallet for many things. If you hacked a device of another player you can rob<br>
  him, and steal all his morphcoin(The ingame currency), or you can use the miner app to mine your own morphcoin. You see,<br>
  these are only two possibilities in a whole world so, what are you waiting for. Start your device and become the best<br>
  player. Gain access over tons of devices and build your hacking empire.<br></p>



You can reach this text by clicking the introduction tab in the control center on the left side.<br>
If you want to learn more about cryptic you could read in our wiki.<br>
Additional ressources:
<ul>
  <li><a href="https://wiki.cryptic-game.net/books/spielanleitung-neu/chapter/spieleinstieg">Game Introduction DE</a></li>
  <li><a href="https://wiki.cryptic-game.net/books/spielanleitung-neu/chapter/app-funktionen">Explanation of all avaible apps DE</a></li>
  <li><a href="https://discord.gg/qDQBc72gm7">Official Discord Server</a></li>
  <li><a href="https://www.youtube.com/channel/UCD1cNWfpafkrCxQqWezpZjQ">Cryptic Youtube Channel</a></li>
</ul>
</div>
