@import "src/global-styles/variables";

:host {
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  background-color: $window_background;
  user-select: none;
  overflow: auto;

  display: flex;
  flex-direction: column;

  div.miner-container {
    padding: 2rem;

    div.miner-wallet-control {
      display: flex;
      flex-direction: column;

      label {
        color: #fff;
        margin-bottom: 0.8rem;
        text-align: center;
      }

      input {
        outline: none;
        padding: 0.5rem;
        background-color: transparent;
        color: #fff;
        border: 0.1rem solid #b6b6b6;
        font-size: 1rem;
        font-family: $default-font;
      }

      span.error-message {
        color: $red;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    div.miner-power {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin-top: 1rem;

      label {
        flex-grow: 1;

        input.miner-power-range {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 15px;
          border-radius: 5px;
          background: $gray;
          outline: none;
          opacity: 0.7;
          transition: opacity 0.2s;

          &::-webkit-slider-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $green;
            cursor: pointer;
          }

          &::-moz-range-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $green;
            cursor: pointer;
          }

          &::-ms-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $green;
            cursor: pointer;
          }
        }
      }

      span.miner-power-value {
        color: #ffF;
        font-size: 1.3rem;
        font-weight: bold;
        margin-left: 0.7rem;
        line-height: 0.9;
      }
    }

    div.miner-state {
      font-size: 2rem;
      color: $window_font_color;
      text-align: center;
    }
  }
}
