@import "../../../../../constants";

:host {
  width: 100%;
  height: 50px;
  display: flex;

  div.header {
    width: 100%;
    height: 100%;
    background-color: #34495e;
    display: flex;
    justify-content: space-between;

    div.left {
      height: 50px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.right {
      height: 50px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: $white;
        margin: 0 10px;
      }
    }
  }
}
