@import "~src/constants";

$warningColor: #ff3333;

:host {
  flex-basis: 100%;
}

#terminal-container {
  width: 100%;
  height: 100%;
  background-color: $window_background;
  overflow: auto;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

#terminal-window {
  overflow-y: auto;

  padding: 6px;

  word-break: break-all;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.2rem;
  color: white;

  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
}

#input-line {
  display: flex;
  width: 100%;
}

#prompt {
  display: inline-block;
  user-select: none;
  color: $green;
  margin-right: 8px;
  word-break: break-word;
}

#cmdline {
  flex-grow: 1;
  width: auto;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#cmdline:active {
  width: auto;
}

#cmdline:focus {
  outline: none;
}

#terminal-history {
  word-break: break-word;
  user-select: text;
}

#terminal-history ::ng-deep .errorText {
  color: $warningColor;
}

#prompt ::ng-deep .errorText {
  color: $warningColor;
}
