<div #terminalContainer (click)="$event.target === terminalContainer ? cmdLine.focus() : true" id="terminal-container">
  <div id="terminal-window">
    <output #history></output>
    <div id="input-line">
      <div #prompt class="prompt">{{promptText}}</div>
      <input #cmdLine (keydown.enter)="$event.preventDefault(); enter(cmdLine.value)" (keydown.tab)="$event.preventDefault(); autocomplete(cmdLine.value)" (keydown.arrowup)="$event.preventDefault(); previousFromHistory()" (keydown.arrowdown)="$event.preventDefault(); nextFromHistory()" autocomplete="off" autofocus id="cmdline"
        spellcheck="false" type="text">
    </div>
  </div>
</div>
