@import "variables";

$warning-color: #f33;

:host {
  flex-basis: 100%;
}

#terminal-container {
  width: 100%;
  height: 100%;
  background-color: $window-background;
  overflow: auto;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

#terminal-window {
  overflow-y: auto;

  padding: 6px;

  word-break: break-all;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.2rem;
  color: white;

  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
}

#input-line {
  display: flex;
  width: 100%;
}

#prompt {
  display: inline-block;
  user-select: none;
  color: $green;
  margin-right: 8px;
  word-break: break-word;
  font-family: Consolas, monospace !important;
}

#cmdline {
  flex-grow: 1;
  width: auto;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: Consolas, monospace;
}

#cmdline:active {
  width: auto;
}

#cmdline:focus {
  outline: none;
}

#terminal-history {
  word-break: break-word;
  user-select: text;
  font-family: Consolas, monospace;
}

#terminal-history ::ng-deep .error-text {
  color: $warning-color;
}

#prompt ::ng-deep .error-text {
  color: $warning-color;
  font-family: Consolas, monospace;
}
