//  GLOBAL COLORS  //

$green: #64dd17;
$green-dark: darken($green, 10%);
$red: #dd2c00;
$black: #212121;
$blue: #007bff;
$gray: #424242;
$white: #fafafa;
$white-dark: darken($white, 10%);
$window-title-color: $white;
$active-window-color: $gray;
$inactive-window-color: rgba(15, 15, 15, 0.9);
$window-font-color: #fafafa;
$window-background: rgba(21, 21, 21, 0.9);
$window-input-font-color: #eee;
$window-input-background: #1a1a1a;
$task-manager-chart-back: rgba(12, 12, 12, 0.7);
$task-manager-chart-border: #8c8c8c;
$start-menu-background: rgba(0, 0, 0, 0.719);

//  FONTS  //

$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
