@import "variables";

h1 {
  margin-top: 0;
}

div.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  div.group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white;
    padding-bottom: 5px;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    span.button {
      font-family: $default-font;
      background-color: $green;
      padding: 3px 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: 200ms background-color;

      &:hover {
        background-color: $green-dark;
      }
    }
  }

  div.items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px 0;

    select {
      margin-left: 5px;
      flex-grow: 1;
      font-family: $default-font;
      background-color: $white;
      padding: 3px;
      border-radius: 5px;
      border: none;
    }
  }
}
