<h1>Build a new device</h1>

<form [formGroup]="form">
  <div class="group">
    <h3>Case:</h3>
    <label class="item">
      <select formControlName="case">
        <option [ngValue]="null">Choose a case</option>
        <option *ngFor="let case_ of cases" [ngValue]="case_">{{case_.name}}</option>
      </select>
    </label>
  </div>
  <div class="group">
    <h3>Mainboard:</h3>
    <label class="item">
      <select formControlName="mainboard">
        <option [ngValue]="null">Choose a mainboard</option>
        <option *ngFor="let mainboard of mainBoards" [disabled]="mainboard.case !== form.get('case').value?.name"
                [ngValue]="mainboard">{{mainboard.name}}</option>
      </select>
    </label>
  </div>
  <div class="group">
    <h3>Processor:</h3>
    <div *ngFor="let control of getFormArrayControls('cpus')" formArrayName="cpus">
      <label class="item">
        <ng-container *ngIf="getFormArray('cpus').length > 1">
          CPU #{{getControlNumber(control)}}:
        </ng-container>
        <select [formControl]="control">
          <option [ngValue]="null">{{getControlNumber(control) === 1 ? 'Select a CPU' : ''}}</option>
          <option *ngFor="let cpu of cpus" [disabled]="!getControlOptions(control).includes(cpu)"
                  [ngValue]="cpu">{{cpu.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="group">
    <h3>Cooler:</h3>
    <div *ngFor="let control of getFormArrayControls('processorCoolers')" formArrayName="processorCoolers">
      <label class="item">
        <ng-container *ngIf="getFormArray('processorCoolers').length > 1">
          Cooler #{{getControlNumber(control)}}:
        </ng-container>
        <select [formControl]="control">
          <option [ngValue]="null">{{getControlNumber(control) === 1 ? 'Select a cooler' : ''}}</option>
          <option *ngFor="let cooler of processorCoolers" [disabled]="!getControlOptions(control).includes(cooler)"
                  [ngValue]="cooler">{{cooler.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="group ram">
    <h3>Memory:</h3>
    <div *ngFor="let control of getFormArrayControls('ramSticks'); index as i" formArrayName="ramSticks">
      <label class="item">
        RAM stick #{{i + 1}}:
        <select [formControl]="control">
          <option [ngValue]="null">{{getControlNumber(control) === 1 ? 'Select a RAM module' : ''}}</option>
          <option *ngFor="let ram of ramSticks" [disabled]="!getControlOptions(control).includes(ram)"
                  [ngValue]="ram">{{ram.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="group">
    <h3>Expansions:</h3>
    <div *ngFor="let control of getFormArrayControls('expansions')" formArrayName="expansions">
      <label class="item">
        Select {{getControlDescription(control)}} expansion #{{getControlNumber(control)}}:
        <select [formControl]="control">
          <option [ngValue]="null"></option>
          <option *ngFor="let expansion of expansions" [disabled]="!getControlOptions(control).includes(expansion)"
                  [ngValue]="expansion">{{expansion.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="group">
    <h3>Storage:</h3>
    <div *ngFor="let control of getFormArrayControls('disks')" formArrayName="disks">
      <label class="item">
        <ng-container *ngIf="getFormArray('disks').length > 1">
          Disk #{{getControlNumber(control)}}:
        </ng-container>
        <select [formControl]="control">
          <option [ngValue]="null">{{getControlNumber(control) === 1 ? 'Select a disk' : ''}}</option>
          <option *ngFor="let disk of disks" [disabled]="!getControlOptions(control).includes(disk)"
                  [ngValue]="disk">{{disk.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="group">
    <h3>Power Supply:</h3>
    <label class="item">
      <select formControlName="powerSupply">
        <option [ngValue]="null">Choose a power supply</option>
        <option *ngFor="let supply of powerSupplies" [ngValue]="supply">{{supply.name}}</option>
      </select>
    </label>
  </div>

  <p *ngIf="info" class="info">{{info}}</p>
  <p *ngIf="error" class="error">{{error}}</p>

  <span class="button compatibility" [class.disabled]="!form.valid" (click)="form.valid && checkCompatibility()">Check compatibility</span>
  <span class="button" [class.disabled]="!form.valid" (click)="form.valid && build()">Build</span>
</form>
