#desktop-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.5%;
  background-color: #555;
  user-select: none;
}

#startbutton {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &,
  img {
    height: 100%;
  }

  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transition: transform 0.2s;
    transform: scale(1.05);
  }
}

#tasks {
  display: flex;
  align-items: center;
  padding-top: 4px;

  .task-icon {
    height: 2.5em;
    margin-left: 10px;

    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transition: transform 0.2s;
      transform: scale(1.05);
    }
  }
}
