#desktop-menu {
  width: 100%;
  height: 5.5%;
  background-color: #555;
}

#startbutton {
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-style: none;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &,
  img {
    height: 100%;
  }

  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transition: transform 0.2s;
    transform: scale(1.05);
  }
}
