<div id="desktop-menu">
  <img (click)="startMenu.emit()" alt="Start menu" draggable="false" id="startbutton"
       src="assets/desktop/img/startbutton.svg"/>
  <img [queryParams]="{device: windowManager.device.uuid}" alt="Control Center" draggable="false"
       id="cc-button" routerLink="/device" src="assets/desktop/img/control_center_button.svg">
  <div id="tasks">
    <span *ngFor="let window of windowManager.taskList" class="task-icon">
      <img (click)="activateOrMinimize(window)" [src]="window.icon" alt="" draggable="false">
    </span>
    <div id="clock">
      <span>{{now.toLocaleTimeString()}}</span>
    </div>
  </div>
</div>
