<div id="body">
  <div id="form-container">
    <form #loginForm="ngForm" id="login-form" (ngSubmit)="performLogin()">
      <h1 id="login-title">LOGIN</h1>
      <table id="login-table">
        <tr>
          <td colspan="2">
            <input type="text" [(ngModel)]="model.username" #usernameField="ngModel" id="username" name="username"
                   placeholder="Username or Email address"
                   required>
            <div class="errorText"
                 *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched) && usernameField['errors'].required">
              Username is required
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="password" [(ngModel)]="model.password" #passwordField="ngModel" id="password" name="password"
                   placeholder="Type in password" required>
            <div class="errorText"
                 *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched) && passwordField['errors'].required">
              Password is required.
            </div>
          </td>
        </tr>
        <tr *ngIf="errorText">
          <td colspan="2">
            <div class="errorText">
              {{errorText}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label id="keep-logged-in-label" class="checkbox-container">
              <input type="checkbox" [(ngModel)]="model.keepLoggedIn" #keepLoggedIn="ngModel" id="keep-logged-in"
                     name="keep-logged-in">
              <span class="checkmark"></span>
              Keep me logged in
            </label>
          </td>
          <td style="text-align: right;">
            <input type="submit" #loginButton [disabled]="loginForm.form.invalid" id="login-button" value="Login">
          </td>
        </tr>
      </table>
      <div id="signup-link-container">
        <span>Need an account? <a routerLink="/signup">Sign up</a></span>
      </div>
    </form>
  </div>
</div>
