$background-color: rgb(43, 43, 43, 0.8);
$field-background-color: #3c3c3c;
$secondary-color: #014752;
$important-color: #27c211;
$input-border-radius: 5px;

#body {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/desktop/img/lock_open.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: $background-color;
  border-radius: 5px;
  }

#login-form {
  padding: 2em 2em 1.5em 2em;
  text-align: center;
  font-family: Lato, sans-serif;
}

#login-title {
  letter-spacing: 2pt;
  text-align: left;
  margin-bottom: 1em;
  color: white;
}

#login-table {
  width: 20em;
  height: 13em;
}

#username,
#password {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: italic;
  height: 2.1em;
  width: 100%;
  background-color: $field-background-color;
  border-radius: $input-border-radius;
  border: none;
  font-size: 1.15em;
  color: white;
  outline: none;
}

#login-button {
  width: 5em;
  height: 2.25em;
  border: 4px solid $secondary-color;
  border-radius: $input-border-radius;
  color: white;
  background-color: transparent;
  font-size: 1.25em;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    background-color: lighten($background-color, 1%);
  }
}

// TODO: better animation
#login-button:disabled {
  transition: border 500ms;
  border-color: #005c18;
}

#signup-link-container {
  text-align: center;
  border-top: 2px solid $field-background-color;
  margin-top: 0.5em;
  padding-top: 1em;

  span {
    color: white;
	font-family: Lato, sans-serif;

    a {
      color: $secondary-color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.errorText {
  color: red;
}

@media screen and (max-width: 650px) {
  #login-title {
    margin-top: 0;
  }

  #form-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #login-table {
    width: 100%;
    height: 15em;
  }
}

@media screen and (max-height: 420px) {
  #login-table {
    height: 50vh;
  }
}
