<div id="body">
  <div id="form-container">
    <form *ngIf="!formHiding" #loginForm id="login-form"
          (submit)="$event.preventDefault(); performLogin(usernameField.value, passwordField.value, keepLoggedIn.checked)">
      <h1 id="login-title">LOGIN</h1>
      <table id="login-table">
        <tr>
          <td colspan="2">
            <input type="text" #usernameField id="username" name="username" placeholder="Username or Email address"
                   required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="password" #passwordField id="password" name="password" placeholder="Type in password" required>
          </td>
        </tr>
        <tr>
          <td>
            <label id="keep-logged-in-label" class="checkbox-container">
              <input type="checkbox" #keepLoggedIn id="keep-logged-in" name="keep-logged-in">
              <span class="checkmark"></span>
              Keep me logged in
            </label>
          </td>
          <td style="text-align: right;">
            <input type="submit" #loginButton id="login-button" value="Login">
          </td>
        </tr>
      </table>
      <div id="signup-link-container">
        <span>Need an account? <a routerLink="/signup">Sign up</a></span>
      </div>
    </form>
  </div>
</div>
