<div id="body">
  <div id="form-container">
    <form #loginForm="ngForm" (ngSubmit)="performLogin()" id="login-form">
      <h1 id="login-title"><p>Pre-Alpha 1.0</p>LOGIN</h1>
      <table id="login-table">
        <tr>
          <td colspan="2">
            <input #usernameField="ngModel" [(ngModel)]="model.username" id="username" name="username" placeholder="Username"
                   required type="text">
            <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched) && usernameField['errors'].required"
                 class="errorText">
              Username is required
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input #passwordField="ngModel" [(ngModel)]="model.password" id="password" name="password" placeholder="Type in password"
                   required type="password">
            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched) && passwordField['errors'].required"
                 class="errorText">
              Password is required.
            </div>
          </td>
        </tr>
        <tr *ngIf="errorText">
          <td colspan="2">
            <div class="errorText">
              {{errorText}}
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">
            <input #loginButton [disabled]="loginForm.form.invalid" id="login-button" type="submit" value="Login">
          </td>
        </tr>
      </table>
      <div id="signup-link-container">
        <span>Need an account? <a routerLink="/signup">Sign up</a></span>
      </div>
    </form>
  </div>
</div>
