@import "variables";

$header-background: #384044;
$sidebar-background: #1e2529;
$page-background: #181f23;
$font-color: $white;

$sidebar-active-color: green;

$button-border-color: $gray;
$button-hover-color: #21292d;

$table-header-color: #7d7d7d;
