<div class="wallet-import-popup">
  <div class="modal" (click)="modalClickHandler($event)">
    <div class="modal-content">


      <img src="../../../../../assets/desktop/img/wallet-app/wallet_popup_back.svg" class="backround">
      <div class="inputs">
        <div class="name">
          <label class="label">NAME</label><br>
          <label> {{ name }}</label>
        </div>
        <div class="wallet-id">
          <label class="label">WALLET ID</label><br>
          <label> {{ wallet_id }}</label>
        </div>
        <div class="wallet-id">
          <label class="label">WALLET KEY</label><br>
          <label> {{ wallet_key }}</label>
        </div>
        <div class="error">{{ error }}</div>
      </div>

      <div class="buttons">
        <button class="btns" (click)="importWallet()">OK</button>
        <button class="btns" (click)="performClose.emit()">CANCEL</button>
      </div>


      <span class="close">
        <img src="../../../../../assets/desktop/img/wallet-app/mini_logo.svg" (click)="performClose.emit()">
      </span>
    </div>
  </div>
</div>
