<div class="cart">
  <div class="title">
    <h1>Cart ({{items.length}} Items)</h1>
    <div class="control">
      <span>Total {{getHoleMorphCoins()}} MC</span>
      <span (click)="buy()" [className]="hasEnoughMorphCoins ? 'btn btn-success' : 'btn btn-disabled'">Buy</span>
    </div>
  </div>
  <hr>
  <div class="content">
    <div *ngFor="let item of items" class="item">
      <app-hardware-shop-cart-item (update)="update()" (updateNumber)="updateNumber()"
                                   [item]="item"></app-hardware-shop-cart-item>
    </div>
  </div>
</div>

