<h1>Account Settings</h1>
<p>Name: <span>{{apiService.account.name}}</span></p>
<p>UUID: <span>{{apiService.account.uuid}}</span></p>
<h2>Change password</h2>
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="password-form">
  <label>
    Old password:
    <input type="password" formControlName="oldPassword" autocomplete="password" placeholder="Password">
  </label>
  <label>
    New password:
    <input type="password" formControlName="newPassword" autocomplete="new-password" placeholder="Password">
  </label>
  <div class="strength">
    <div [class.red-box]="passwordStrength >= 1"></div>
    <div [class.red-box]="passwordStrength >= 2"></div>
    <div [class.yellow-box]="passwordStrength >= 3"></div>
    <div [class.green-box]="passwordStrength >= 4"></div>
    <div [class.green-box]="passwordStrength >= 5"></div>
  </div>
  <label>
    Confirm password:
    <input type="password" formControlName="passwordConfirm" autocomplete="new-password" placeholder="Password">
  </label>
  <input type="submit" value="Submit" [disabled]="passwordForm.invalid">
  <p>Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter
    and one number.</p>
  <p [hidden]="!passwordError" class="error">{{passwordError}}</p>
  <p [hidden]="!passwordChanged">Password successfully changed.</p>
</form>
