<h1>Release notes</h1>
<div class="changelog-container">
  <div class="changelog">
    <div *ngFor="let version of versions" class="version-container">
      <div class="version-box">{{version.name}}</div>
      <span class="date">{{version.date | date:'longDate'}}</span>
      <p *ngFor="let addition of version.additions" class="addition">NEW {{addition}}</p>
      <p *ngFor="let fix of version.fixes" class="fix">FIXED {{fix}}</p>
      <p *ngFor="let enhancement of version.enhancements" class="enhancement">ENHANCED {{enhancement}}</p>
    </div>
    <div class="version-container start-container">
      <div class="version-box start-box">Start</div>
      <span class="date">{{1508018400000 | date:'longDate'}}</span>
    </div>
  </div>
</div>
