@import "../control-center-style";
@import "variables";

$version-text-width: 9rem;
$version-bar-gap: 2rem;

h1 {
  margin-top: 0;
  text-align: center;
}

.changelog-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .changelog {
    border-left: 1px solid $button-border-color;
    padding: 0 $version-bar-gap;
    // make sure the extended out header stays inside the page
    margin: 0 ($version-text-width / 2);

    table {
      border-spacing: 0;
      border-collapse: collapse;

      :first-child th .version-header {
        margin-top: -1px;
      }

      :last-child th .version-header {
        margin-bottom: -1px;
      }

      tr {
        &.spacer {
          height: 8px;
        }

        th {
          font-weight: normal;

          .version-header {
            position: relative;


            padding: 0.6em 0;
            // extend the header out of the table                                      2 borders x 1px
            margin: 3em calc(0px - (#{$version-text-width} / 2 + #{$version-bar-gap} + 2px)) 1em;

            background-color: #2b3840;

            border: 1px solid $header-background;
            border-radius: 3px;

            font-size: 14pt;

            &.start {
              border-color: #91a7b6;
            }

            .version {
              position: absolute;
              width: $version-text-width;
              text-align: center;
            }

            .date {
              text-align: center;
              color: gray;
            }
          }
        }

        td {
          vertical-align: text-top;

          p {
            margin: 0.1em 0.2em;
          }
        }

        .change-indicator {
          font-size: 9pt;
          border-radius: 2px;
          text-align: right;
          user-select: none;

          span {
            padding: 2px 5px;
            border-radius: 2px;

            &.addition {
              background-color: green;
            }

            &.enhancement {
              background-color: teal;
            }

            &.change {
              background-color: orangered;
            }

            &.fix {
              background-color: #e60000;
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: 1100px) {
  .changelog-container .changelog {
    border: none;
    padding: 0;
    margin: 0;

    table tr th .version-header {
      margin-left: 0;
      margin-right: 0;

      .version {
        position: static;
        display: inline;
        margin-right: 1em;
      }

      .date {
        display: inline;
      }
    }
  }
}
