<app-account-page-base>
  <div class="content">

    <div class="title">
      <img alt="Cryptic" src="assets/desktop/img/logo.svg">
      <span>Log In</span>
    </div>

    <form [formGroup]="form">
      <label>
        <input autocomplete="username" formControlName="username" placeholder="Username" type="text">
      </label>

      <label>
        <input autocomplete="current-password" formControlName="password" placeholder="Password" type="password">
      </label>

      <label>
        <input (click)="login()" [disabled]="!form.valid" disabled type="submit" value="Log In">
      </label>

      <label>
        <input (click)="oauthLogin(0)" type="submit" value="Discord Log In">
      </label>

      <label>
        <input (click)="oauthLogin(1)" type="submit" value="Github Log In">
      </label>

      <label>
        <input (click)="logout()" type="submit" value="Log Out">
      </label>
    </form>

    <p *ngIf="error" class="error">{{error}}</p>
    <p>If you do not have an account yet, click
      <a [routerLink]="['/signup']"
         [state]="{ username: form.value.username, password: form.value.password }">here</a>.
    </p>
  </div>
</app-account-page-base>
