:host {
  width: 100%;

  div.grid {
    display: flex;
    flex-direction: column;

    div.title {
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 22px;
        margin: 0;
      }
    }

    hr {
      width: 100%;
    }

    div.grid-content {
      width: 100%;

      display: flex;
      flex-wrap: wrap;

      div.item {
        // width: (100% / 3);

        div.content {
          margin: 5px;
        }
      }
    }
  }
}
