<div class="wallet-app">
  <div class="header">
    <app-wallet-app-header *ngIf="false" [(walletEdit)]="walletFirstStartup"></app-wallet-app-header>
  </div>
  <div class="content">
    <div *ngIf="walletEdit" class="wallet-edit">
      <div class="title"><h1>Edit Wallet</h1><span>The wallet will be changed in all apps that use your wallet</span>
      </div>
      <hr>
      <div>
        <app-wallet-app-edit (performClose)="walletEdit = false"></app-wallet-app-edit>
      </div>
    </div>
    <div class="wallet-first-startup" *ngIf="state == 'fistWalletAppStartup'">
      <app-wallet-first-startup (performClose)="state = 'fistWalletAppStartup2'"></app-wallet-first-startup>
    </div>
    <div class="wallet-first-startup-create-import" *ngIf="state == 'fistWalletAppStartup2'">
      <app-wallet-first-startup-create-import (create)="showWalletCreatePopup = true" (import)="showWalletImportPopup = true">
      </app-wallet-first-startup-create-import>
    </div>
    <div class="wallet-first-startup-create-popup" *ngIf="showWalletCreatePopup">
      <app-wallet-create-popup (performClose)="showWalletCreatePopup = false" (ok)="showWalletCreatePopup = false; state = 'dashboard'" [deviceUUID]="deviceUUID"></app-wallet-create-popup>
    </div>
    <div class="wallet-first-startup-import" *ngIf="showWalletImportPopup">
      <app-wallet-import-popup (performClose)="showWalletImportPopup = false" (ok)="showWalletImportPopup = false; state = 'dashboard'" [deviceUUID]="deviceUUID"></app-wallet-import-popup>
    </div>
    <div class="wallet-dashboard" *ngIf="state == 'dashboard'">
      <app-wallet-dashboard></app-wallet-dashboard>
    </div>
    <div *ngIf="false" class="wallet-transaction-list">
      <div class="title wallet-app-header">
        <h1>Transactions ({{wallet.transactions}})</h1>
        <div class="transaction-buttons">
          <span (click)="previousPage()" [class.btn-disabled]="currentPage <= 1" class="btn">Previous Page</span>
          <span class="btn btn-disabled">{{currentPage}} / {{pages}}</span>
          <span (click)="nextPage()" [class.btn-disabled]="currentPage >= pages" class="btn">Next Page</span>
        </div>
      </div>
      <hr>
      <app-wallet-app-transaction *ngFor="let transaction of transactions"
                                  [transaction]="transaction"></app-wallet-app-transaction>
    </div>
  </div>
</div>
