<div class="wallet-app">
  <div class="header">
    <app-wallet-app-header [(walletEdit)]="walletEdit"></app-wallet-app-header>
  </div>
  <div class="content">
    <div *ngIf="walletEdit" class="wallet-edit">
      <div class="title"><h1>Edit Wallet</h1><span>The wallet will be changed in all apps that use your wallet</span>
      </div>
      <hr>
      <div>
        <app-wallet-app-edit (performClose)="walletEdit = false"></app-wallet-app-edit>
      </div>
    </div>
    <div class="wallet-first-startup" *ngIf="walletFirstStartup">
    </div>
    <div *ngIf="!walletEdit && wallet" class="wallet-transaction-list">
      <div class="title wallet-app-header">
        <h1>Transactions ({{wallet.transactions}})</h1>
        <div class="transaction-buttons">
          <span (click)="previousPage()" [class.btn-disabled]="currentPage <= 1" class="btn">Previous Page</span>
          <span class="btn btn-disabled">{{currentPage}} / {{pages}}</span>
          <span (click)="nextPage()" [class.btn-disabled]="currentPage >= pages" class="btn">Next Page</span>
        </div>
      </div>
      <hr>
      <app-wallet-app-transaction *ngFor="let transaction of transactions"
                                  [transaction]="transaction"></app-wallet-app-transaction>
    </div>
  </div>
</div>
