<div class="wallet-app">
  <div class="header">
    <app-wallet-app-header [isWalletEdit]="false" (walletEdit)="setWalletEditStatus($event)"></app-wallet-app-header>
  </div>
  <div class="content">
    <div *ngIf="walletEdit" class="wallet-edit">
      <div class="title"><h1>Edit Wallet</h1><span>The wallet will be changed in all apps that use your wallet</span>
      </div>
      <hr>
      <div>
        <app-wallet-app-edit (close)="setWalletEditStatus(false)"></app-wallet-app-edit>
      </div>
    </div>
    <div *ngIf="!walletEdit && wallet" class="wallet-transaction-list">
      <h1>Transactions ({{wallet.transactions.length}})</h1>
      <hr>
      <app-wallet-app-transaction *ngFor="let transaction of wallet.transactions.reverse()"
                                  [transaction]="transaction"></app-wallet-app-transaction>
    </div>
  </div>
</div>
