@import "variables";

:host {
  background-color: $white;
  width: 100%;
  color: #000;
}

div.wallet-app {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.content {
    height: 100%;
    overflow-y: scroll;

    h1 {
      font-size: 22px;
      margin: 0;
    }

    div.title {
      display: flex;
      align-items: baseline;

      &.wallet-app-header {
        justify-content: space-between;

        .transaction-buttons {
          span:nth-child(2) {
            margin: 0 5px;
          }
        }
      }

      h1 {
        margin-right: 10px;
      }
    }

    div.wallet-edit {
      padding: 10px;

      div {
        width: 100%;
        height: 100%;
      }
    }

    div.wallet-transaction-list {
      padding: 10px;
    }
  }
}
