@use "sass:list";
@import "theme-colors";

$flavors: (
  primary: (
    $primary-default,
    $primary-disabled,
  ),
  success: (
    $success-default,
    $success-disabled,
  ),
  warning: (
    $warning-default,
    $warning-disabled,
  ),
  danger: (
    $danger-default,
    $danger-disabled,
  ),
  info: (
    $info-default,
    $info-disabled,
  ),
);

button {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid;
  width: 100%;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  background: none;
  cursor: pointer;


  &:last-child {
    margin-right: 0;
  }

  @each $name, $colors in $flavors {
    &.#{$name} {
      border-color: list.nth($colors, 1);
      color: list.nth($colors, 1);

      &:disabled {
        border-color: list.nth($colors, 2);
        color: list.nth($colors, 2);
        cursor: default;
      }

      &:hover:not([disabled]) {
        border-color: list.nth($colors, 1);
        background: list.nth($colors, 1);
        @if $name == "danger" or $name == "info" {
          color: $light-font;
        } @else {
          color: $dark-font;
        }
      }
    }
  }
}
