<div id="body">
  <div id="form-container">
    <form #signupForm="ngForm" (ngSubmit)="performSignup()"
          id="signup-form">
      <h1 id="signup-title">SIGNUP</h1>
      <table id="signup-table">
        <tr>
          <td colspan="2">
            <input #usernameField="ngModel" [(ngModel)]="model.username" id="username" minlength="4" name="username"
                   autocomplete="section-sign-up username" placeholder="Username" required
                   type="text">
            <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)" class="errorText">
              <div *ngIf="usernameField['errors'].required">
                Username is required.
              </div>
              <div *ngIf="usernameField['errors'].minlength">
                Username must be at least 4 characters long.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input #emailField="ngModel" [(ngModel)]="model.email" email id="email" name="email"
                   autocomplete="section-sign-up mobile email" placeholder="Email Address" required type="email">
            <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="errorText">
              <div *ngIf="emailField['errors'].required">
                Email is required.
              </div>
              <div *ngIf="emailField['errors'].email">
                Email is invalid.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input #passwordField="ngModel" [(ngModel)]="model.password" id="password" minlength="8"
                   name="password" autocomplete="section-sign-up new-password" placeholder="Type in password" required
                   pattern="(?=.*\d)((?=.*[a-z])|(?=.*[A-Z]))(?=.*[@#$&_%=!?\/()=*+^'.\\&quot;`:;~|><\}{\][,-]).{8,}"
                   type="password">
            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="errorText">
              <div *ngIf="passwordField['errors'].required">
                Password is required.
              </div>
              <div *ngIf="passwordField['errors'].minlength">
                Password must be at least 8 characters long.
              </div>
              <div *ngIf="passwordField['errors'].pattern">
                Password must have a special character and a number.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input #passwordConfirm="ngModel" [(ngModel)]="model.passwordConfirm" appPasswordMatch id="password-confirm"
                   name="password-confirm" autocomplete="section-sign-up new-password"
                   placeholder="Confirm your password" required type="password">
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
                 class="errorText">
              <div *ngIf="passwordConfirm['errors'].required || passwordConfirm['errors'].notMatching">
                Passwords don't match.
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="errorText">
          <td colspan="2">
            <div class="errorText">
              {{errorText}}
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align: left;">
            <a id="login-link" routerLink="/login">Already have an account?</a>
          </td>
          <td style="text-align: right;">
            <input #submitButton [disabled]="signupForm.form.invalid" id="submit-button" type="submit" value="Sign up">
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
