$background-color: #2b2b2b;
$field-background-color: #3c3c3c;
$secondary-color: #045d6a;
$important-color: #27c211;
$input-border-radius: 12px;

#body {
  width: 100%;
  height: 100%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: $background-color;
  border-radius: 20px;
}

#signup-form {
  padding: 2em 2em;
  text-align: center;
  font-family: Lato, sans-serif;
}

#signup-title {
  letter-spacing: 2pt;
  text-align: left;
  margin-bottom: 1em;
  color: white;
}

#signup-table {
  width: 20em;
  height: 20em;
}

#username,
#email,
#password,
#password-confirm {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-style: italic;
  height: 2.4em;
  width: 100%;
  background-color: $field-background-color;
  border-radius: $input-border-radius;
  border: none;
  font-size: 1.25em;
  color: white;
  outline: none;
}

#submit-button {
  width: 5em;
  height: 2.25em;
  border: 4px solid $secondary-color;
  border-radius: $input-border-radius;
  color: white;
  background-color: transparent;
  font-size: 1.25em;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    background-color: lighten($background-color, 1%);
  }
}

// TODO: better animation
#submit-button:disabled {
  transition: border 500ms;
  border-color: #ff281c;
}

.errorText {
  color: red;
}

#login-link {
  color: white;
  margin-left: 2px;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: white;
  }
}

@media screen and (max-width: 650px) {
  #signup-title {
    margin-top: 0;
  }

  #form-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #signup-table {
    width: 100%;
    height: 22em;
  }
}

@media screen and (max-height: 480px) {
  #signup-table {
    height: 60vh;
  }
}

