<div class="page">
<div class="componentContainer">
  <h2>Buttons - Primary</h2>
  <design-button (click)="pressedAlert('Primary')" [disabled]="false" flavor="primary" class="component">
    Primary
  </design-button>
  <design-button [disabled]="true" flavor="primary" class="component">
    Primary disabled
  </design-button>
  <design-button (click)="pressedAlert('Success')" [disabled]="false" flavor="success" class="component">
    Success
  </design-button>
  <design-button [disabled]="true" flavor="success" class="component">
    Success disabled
  </design-button>
  <design-button (click)="pressedAlert('Warning')" [disabled]="false" flavor="warning" class="component">
    Warning
  </design-button>
  <design-button [disabled]="true" flavor="warning" class="component">
    Warning disabled
  </design-button>
  <design-button (click)="pressedAlert('Danger')" [disabled]="false" flavor="danger" class="component">
    Danger
  </design-button>
  <design-button [disabled]="true" flavor="danger" class="component">
    Danger disabled
  </design-button>
  <design-button (click)="pressedAlert('Info')" [disabled]="false" flavor="info" class="component">
    Info
  </design-button>
  <design-button [disabled]="true" flavor="info" class="component">
    Info disabled
  </design-button>
</div>
<div class="componentContainer">
  <h2>Buttons - Outlined</h2>
  <design-button-outline (click)="pressedAlert('Primary')" [disabled]="false" flavor="primary" class="component">
    Primary
  </design-button-outline>
  <design-button-outline [disabled]="true" flavor="primary" class="component">
    Primary disabled
  </design-button-outline>
  <design-button-outline (click)="pressedAlert('Success')" [disabled]="false" flavor="success" class="component">
    Success
  </design-button-outline>
  <design-button-outline [disabled]="true" flavor="success" class="component">
    Success disabled
  </design-button-outline>
  <design-button-outline (click)="pressedAlert('Warning')" [disabled]="false" flavor="warning" class="component">
    Warning
  </design-button-outline>
  <design-button-outline [disabled]="true" flavor="warning" class="component">
    Warning disabled
  </design-button-outline>
  <design-button-outline (click)="pressedAlert('Danger')" [disabled]="false" flavor="danger" class="component">
    Danger
  </design-button-outline>
  <design-button-outline [disabled]="true" flavor="danger" class="component">
    Danger disabled
  </design-button-outline>
  <design-button-outline (click)="pressedAlert('Info')" [disabled]="false" flavor="info" class="component">
    Info
  </design-button-outline>
  <design-button-outline [disabled]="true" flavor="info" class="component">
    Info disabled
  </design-button-outline>
</div>
<div class="componentContainer">
  <h2>Buttons - Text only</h2>
  <design-button-text (click)="pressedAlert('Primary')" [disabled]="false" flavor="primary" class="component">
    Primary
  </design-button-text>
  <design-button-text [disabled]="true" flavor="primary" class="component">
    Primary disabled
  </design-button-text>
  <design-button-text (click)="pressedAlert('Success')" [disabled]="false" flavor="success" class="component">
    Success
  </design-button-text>
  <design-button-text [disabled]="true" flavor="success" class="component">
    Success disabled
  </design-button-text>
  <design-button-text (click)="pressedAlert('Warning')" [disabled]="false" flavor="warning" class="component">
    Warning
  </design-button-text>
  <design-button-text [disabled]="true" flavor="warning" class="component">
    Warning disabled
  </design-button-text>
  <design-button-text (click)="pressedAlert('Danger')" [disabled]="false" flavor="danger" class="component">
    Danger
  </design-button-text>
  <design-button-text [disabled]="true" flavor="danger" class="component">
    Danger disabled
  </design-button-text>
  <design-button-text (click)="pressedAlert('Info')" [disabled]="false" flavor="info" class="component">
    Info
  </design-button-text>
  <design-button-text [disabled]="true" flavor="info" class="component">
    Info disabled
  </design-button-text>
</div>
<div class="componentContainer">
  <h2>Textinput</h2>
  <design-text-input
    [formControl]="controlWithValidator"
    class="component"
    flavor="primary"
    [hintColored]="true"
    [label]="'Label'"
    [placeholder]="'Primary field'"
    [hintText]="getValidatorHintText()"
    (keydown.enter)="changedText($event)">
  </design-text-input>
  <design-text-input
    [formControl]="control"
    class="component"
    [label]="'Label'"
    [placeholder]="'Disabled'"
    [hintText]="'A hint.'">
  </design-text-input>
  <design-text-input
    class="component"
    flavor="success"
    [hintColored]="true"
    [label]="'Label'"
    [placeholder]="'Success field'"
    [hintText]="'A colored hint.'"
    (keydown.enter)="changedText($event)">
  </design-text-input>
  <design-text-input
    class="component"
    flavor="warning"
    [hintColored]="false"
    [label]="'Label'"
    [placeholder]="'Warning field'"
    [hintText]="'A grey hint.'"
    (keydown.enter)="changedText($event)">
  </design-text-input>
  <design-text-input
    class="component"
    flavor="danger"
    [hintColored]="true"
    [label]="'Label'"
    [placeholder]="'Danger field'"
    [hintText]="'A colored hint.'"
    (keydown.enter)="changedText($event)">
  </design-text-input>
  <design-text-input
    class="component"
    flavor="info"
    [hintColored]="false"
    [label]="'Label'"
    [placeholder]="'Info field'"
    [hintText]="'A grey hint.'"
    (keydown.enter)="changedText($event)">
  </design-text-input>
</div>
</div>
