.componentContainer {
  display: inline-grid;
  width: 300px;
  height: fit-content;
  margin: 30px;
  padding: 1em;
  border: 3px solid #ffffff;
}

.component{
  padding-bottom: 10px;
}

* {
  background: #2F2F36;
}
