@import "../control-center-style";

.sub-menu {
  width: 100%;

  .title {
    display: flex;
    align-items: center;

    width: 250px;
    height: 40px;

    margin: 0 auto;

    border-radius: 8px;

    font-size: 20px;
    vertical-align: middle;

    cursor: pointer;
    user-select: none;
    outline: none;

    &:hover, &.active {
      background-color: $primary-default;
      color: $input-background;
      font-weight: 500;
    }

    .icon {
      flex: 0 0 auto;
      width: 24px;
      height: 24px;
      margin-left: 20px;
    }

    span {
      flex: 1 1 auto;
      margin-left: 15px;
    }

    .arrow {
      flex: 0 0 auto;
      margin-right: 15px;
    }
  }

  .children {
    border-bottom: 1px solid $gray;

    .child {
      font-size: 12pt;
      line-height: 25pt;
      padding-left: 20px;

      cursor: pointer;
      user-select: none;
      outline: none;

      &:hover {
        background-color: $button-hover-color;
      }

      &.active {
        background-color: $sidebar-active-color;
      }

    }
  }
}
// why?