<div class="sub-menu">
  <div (click)="menuClicked()" class="title">
    <img *ngIf="menu.icon" [src]="'../assets/control-center/' + menu.icon" alt="" class="icon">
    <span>{{menu.title}}{{menu.displayCount ? ' (' + menu.getDisplayCount() + ')' : ''}}</span>
    <svg *ngIf="menu.items.length !== 0" [@arrowUpwardsDownwards]="expanded ? 'downwards' : 'upwards'" class="arrow"
         height="25px" viewBox="0 0 15 15" width="25px" xmlns="http://www.w3.org/2000/svg">
      <path d="M 7 3 L 13 10 L 1 10 Z" fill="white"/>
    </svg>
  </div>
  <div *ngIf="expanded" [@expandCollapse] class="children">
    <div (click)="itemClicked(item)" *ngFor="let item of menu.items" [class.active]="isItemActive(item)"
         class="child">{{item.title}}</div>
  </div>
</div>
