<div class="sub-menu">
  <!-- <div class="sub-menu-header" *ngIf="menu.header">{{menu.header}}</div> -->
  <div (click)="menuClicked()"  [class.active]="isItemActive(menu)" class="title">
    <i-tabler *ngIf="menu.icon" [name]="menu.icon" alt="" class="icon"></i-tabler>
    <span>{{menu.title}}</span>
  </div>
  <div *ngIf="expanded" [@expandCollapse] class="children">
    <div (click)="itemClicked(item)" *ngFor="let item of menu.items" [class.active]="isItemActive(item)"
         class="child">{{item.title}}</div>
  </div>
</div>