@import "~src/constants";


#startmenu {
  width: 30%;
  height: 65%;
  position: absolute;
  bottom: 5.7%;
  padding: 1.5% 1.5% 5.5%;
  background-color: #1c1c1c;
  color: $white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.70);

  img {
    height: auto;
    width: 7.5%;
  }

  #info {
    height: 12%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: normal; // TODO: Check (left is not accepted)
    margin-bottom: 10%;

    #user {
      font-size: 2rem;
    }

    #online {
      font-size: 1rem;
    }

    p {
      margin: 0;
    }
  }

  #programs {
    width: 100%;
    height: calc(85% - 2px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 2%;

    #linkages {
      height: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none;

      &:vertical,
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .search {
    width: 95%;
    padding: 1%;
    border: none;
  }

  .button {
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #logout {
    height: 5.5%;
  }

  input {
    width: 100%;
  }
}
