<div id="startmenu">
  <div id="info">
    <img
      id="profile-icon"
      src="../../../assets/desktop/img/user_1.svg"
      alt=""
    />
    <div>
      <p id="user">{{ user.name }}</p>
      <p id="online">online: {{ websocket.onlinePlayers }}</p>
    </div>
  </div>
  <div id="bugreport">
    <p>
      Report a bug through
      <span (click)="openBugReportPageGitHub()" class="button">GitHub</span> or
      <span (click)="openBugReportPageForm()" class="button">Form</span>.
      <span><a class="button" href="https://the-morpheus.de/#signup" target="_blank">Imprint</a></span>
    </p>
  </div>
  <div id="programs">
    <div id="linkages">
      <span
        (click)="parent.openProgramWindow(linkage); parent.hideStartMenu()"
        *ngFor="let linkage of search(searchTerm)"
        class="button"
      >
        <img [src]="linkage.icon" alt="" class="icon" />{{
          linkage.displayName
        }}
      </span>
    </div>
    <input [(ngModel)]="searchTerm" class="search" placeholder="Search" />
  </div>
  <span
    (click)="userService.logout(token); parent.windowManager.closeAllWindows()"
    class="button"
    id="logout"
  >
    <img
      src="../../../assets/desktop/img/logoutbutton.svg"
      alt=""
      class="icon"
    />Logout</span
  >
</div>
