#startmenu {
  width: 30%;
  height: 65%;
  position: absolute;
  bottom: 0%;
  padding: 1.5%;
  padding-bottom: 5.5%;
  background-color: #424242;
  color: #FAFAFA;
  box-shadow: 0 0 38px rgba(0,0,0,0.30), 0 0 12px rgba(0,0,0,0.22);

  img {
    height: auto;
    width: 7.5%;
  }

  #user {
    height: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    font-size: 2rem;
    margin-bottom: 10%;
  }

  #programs {
    width: 100%;
    height: calc(64.5% - 2px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1%;

    #linkages {
      height: 100%;
      overflow-y: scroll,
        -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::vertical,
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .search {
    width: 95%;
    padding: 1%;
    border: none;
  }

  .button {
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #logout {
    height: 5.5%;
  }

  input {
    width: 100%;
  }
}
