@import "~src/constants";


#startmenu {
  width: 25%;
  height: 65%;
  position: absolute;
  bottom: 5.7%;
  padding: 1.5% 1.5% 5.5% 2%;
  background-color: rgba(28, 28, 28, 0.95);
  color: $white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.70);

  img {
    height: auto;
    width: 7.5%;
  }

  #info {
    margin-left: 2%;
    height: 12%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;

    #profile-icon {
      width: 64px;
      height: 64px;
      filter: invert(0.8);
      margin-right: 1em;
    }

    #user {
      font-size: 2rem;
    }

    #online {
      font-size: 1rem;
    }

    p {
      margin: 0;
    }
  }

  #programs {
    width: 85%;
    height: calc(85% - 2px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 2%;

    #linkages {
      height: 100%;
      overflow-y: auto;

      &:vertical,
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .search {
    width: 100%;
    box-sizing: border-box;
    padding: 1.75%;
    border: none;
    font-size: 12pt;
    outline: none !important;
    color: white;
    background-color: rgba(66, 66, 66, 0.6);
    border-radius: 2px;
  }

  .button {
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;


    .icon {
      margin-right: 9px;
    }
  }

  #logout {
    padding-left: 2%;
    height: 5.5%;
  }

  input {
    width: 100%;
  }
}
