div.base {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-image: url("src/assets/desktop/backgrounds/login_wallpaper.png");
  background-position: center;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  div.content {
    width: 400px;
    max-width: 80%;
    max-height: 80%;

    background-color: rgb(43, 43, 43, 0.8);
    border-radius: 30px;

    overflow-y: auto;
    z-index: 2;

    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 5px;
    }
  }
}
