div.base {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-image: url("src/assets/desktop/backgrounds/login_wallpaper.png");
  background-position: center;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  div.content {
    width: 500px;
    max-width: 80%;
    max-height: 80%;

    background-color: rgb(43, 43, 43, 0.8);
    border-radius: 20px;

    overflow-y: auto;
    z-index: 2;

    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 5px;
    }
  }

  div.imprint {
    position: absolute;
    bottom: 20px;

    a {
      color: #fff;
    }
  }

  h1 {
    letter-spacing: 0.3em;
    font-weight: bolder;
    color: darkred;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  div.bots {
    position: absolute;
    right: 5%;

    width: 20%;
    max-width: 80%;
    max-height: 80%;
    margin-left: 5em;
    padding: 1em;

    text-align: justify;

    background-color: rgb(220, 220, 220, 0.8);
    border-radius: 20px;

    overflow-y: auto;
    z-index: 2;

    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 5px;
    }
  }

}
