<div class="base">
  <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles>
  <div class="content">
    <ng-content></ng-content>
  </div>
  <div class="bots">
    <h1>NOTE</h1>
    <h3>Bots verboten!</h3>
    <p>
      Der Einsatz von Bots ist im Spiel verboten.
      Es soll nicht Sinn und Zweck des Spiels sein, Abläufe zu automatisieren.
      Ein solches Verhalten würde das Spielerlebnis weder interessant, noch spannend machen.
      Bitte halte dich an diese Regelung und schaffe mit uns ein faires Spiel für alle.
    </p>
    <br>
    <h3>Bots are not allowed!</h3>
    <p>
      The use of bots in the game is prohibited.
      It should not be the purpose of the game to automate processes.
      Such behaviour would make the game experience neither interesting nor exciting.
      Please abide by this rule and join us in creating a fair game for all.
    </p>
  </div>
  <div class="socials">
    <a href="https://discord.gg/jBmcrfvwgK" rel="noopener" target="_blank">
      <img alt="Discord" class="icon" height="30px" src="assets/icons/discord_icon.svg" width="30px">
    </a>
    <a href="https://github.com/cryptic-game" rel="noopener" target="_blank">
      <img alt="Github" class="icon" height="30px" src="assets/icons/github_icon.svg" width="30px">
    </a>
    <a href="https://www.instagram.com/cryptic.game/?hl=de" rel="noopener" target="_blank">
      <img alt="Instagram" class="icon" height="30px" src="assets/icons/instagram_icon.svg" width="30px">
    </a>
    <a href="https://twitter.com/Cryptic_Game" rel="noopener" target="_blank">
      <img alt="Twitter" class="icon" height="30px" src="assets/icons/twitter_icon.svg" width="30px">
    </a>
    <a href="https://www.youtube.com/channel/UCD1cNWfpafkrCxQqWezpZjQ/featured" rel="noopener" target="_blank">
      <img alt="Youtube" class="icon" height="30px" src="assets/icons/youtube_icon.svg" width="30px">
    </a>
  </div>
  <div class="imprint">
    <a href="https://the-morpheus.de/#contact" rel="noopener" target="_blank">Imprint</a>
  </div>
</div>
