<form [formGroup]="form">
  <label>
    <span>Wallet UUID</span>
    <input [ngClass]="{'correct':correctUuid}" formControlName="uuid" type="text">
  </label>
  <label>
    <span>Wallet Key</span>
    <input [ngClass]="{'correct':correctKey}" formControlName="key" type="text">
  </label>
  <label>
    <input (click)="save()" [ngClass]="{'btn-disabled':!(correctUuid && correctKey)}" class="btn" type="submit"
           value="Save">
  </label>
</form>
<p *ngIf="error" class="error">The UUID or the Key are wong.</p>
