<div id="settings-window-container">
  <form [formGroup]="form" class="h-100" id="settings-window">
    <div class="row">
      <span>Background Image</span>
      <label>
        <select formControlName="backgroundImage" size="1">
          <option *ngFor="let bg of settings.backgroundImage.acceptedValues">{{bg}}</option>
        </select>
      </label>
    </div>
    <div class="row">
      <span>Terminal-prompt color</span>
      <label>
        <input formControlName="terminalPromptColor" type="color">
      </label>
    </div>
    <div class="row">
      <span>'ls' folder color</span>
      <label>
        <input formControlName="terminalLsFolderColor" type="color">
      </label>
    </div>
    <div class="row">
      <span>'ls' command file/folder prefix</span>
      <label>
        <input formControlName="terminalLsPrefix" type="checkbox">
      </label>
    </div>
    <div class="buttons-container">
      <div class="side-buttons row">
        <button (click)="resetSettings()">Reset Settings</button>
        <button (click)="saveSettings()">Save</button>
      </div>
    </div>
  </form>
</div>
