@import "~src/constants";

:host {
  flex-basis: 100%;
}

#settings-window-container {
  width: 100%;
  height: 100%;
  background-color: $window_background;
  user-select: none;
  overflow: auto;
  color: $window_font_color;
}

#settings-window {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#settings-window .row {
  padding: 5px;
  display: flex;
  justify-content: space-between;

  margin: 5px;
  background: $window_background;
  border: solid;
  border-color: #454546;
  border-width: 2px;
}

#settings-window-footer-content {
  float: right;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

#settings-window-container .h-100 {
  height: 100% !important;
}

// Padding-Right-1
#settings-window .p-r-1 {
  padding-right: 1rem;
}

.setting {
}
