<div id="settings-window-container">
  <div id="settings-window">
    <div class="row">
      <span>Background Image</span>
      <div class="setting">
        <label>
          <select (change)="onChangeSetting()" size="1" #backgroundSetting>
            <option *ngFor="let bg of current.getBackgroundPossibilities()" [selected]="current.getSettings().backgroundImage">{{bg}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <button (click)="setBackground(backgroundSetting.value)">Save</button>
    </div>
    <div class="row">
      <button (click)="resetSettings()">Reset Settings</button>
    </div>
  </div>
</div>
