@import "../control-center-style";

#sidebar-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  user-select: none;

  .lettering {
    font-weight: 500;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 38px;
    background-color: $input-background;
  }

  .sidebar-items {
    overflow: scroll;

    .sidebar-item {
      &:first-child {
        margin-top: 0 !important;
      }

      &:not(.has-header) {
        margin-top: 2px;
      }

      &.has-header {
        margin-top: 40px;
      }

      .menu-header {
        margin-left: 70px;
        margin-bottom: 10px;
      }
    }
  }

  app-control-center-computer-menu {
    // width: 500px;
  }

  .footer {
    margin: auto 0 0;
    background: $input-background;

    .pic-name {
      display: flex;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 30px;
      margin-top: 10px;

      .username {
        font-size: 16px;
        margin: auto 0;

        font-weight: 700;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .logged-in-as {
          font-weight: 300;
          color: $grey-font;
        }

        .name {
          font-size: 20px;
          color: white;

          user-select: all;
        }
      }

      .profile-pic {
        margin-right: 30px;
        width: 75px;
        height: 75px;
        border-radius: 15px;
      }
    }
  }

  .logout-button {
    margin-bottom: 30px;
    @include sidebar-menu-item;
  }

}