<div id="sidebar-container">
  <div class="lettering">Control<br>Center</div>
  <div class="sidebar-items">
    <div *ngFor="let menu of menus" class="sidebar-item" [class.has-header] = "menu.header"  >
      <div *ngIf="menu.header" class="menu-header">{{menu.header}}</div>
      <app-control-center-sidebar-menu [menu]="menu"></app-control-center-sidebar-menu>
    </div>
  </div>
  <div class="footer">
    <p class="username" i18n>Logged in as {{apiService.account.name}}</p>
    <button (click)="logout()" class="logout-button" i18n>Logout</button>
  </div>
</div>
