<div class="header">

  <div class="left">
    <span class="btn" (click)="showWalletSettings()">Wallet Settings</span>
  </div>

  <div class="right">
    <span *ngIf="!(morphCoins >= 0)">Not Wallet found.</span>
    <span *ngIf="morphCoins >= 0">{{morphCoins}} MC</span>
    <span class="btn" (click)="showCart()" *ngIf="!cardVisibility">Show Cart - {{cardItems}} Items</span>
    <span class="btn" (click)="hideCard()" *ngIf="cardVisibility">Hide Cart - {{cardItems}} Items</span>
  </div>

</div>
