@import "variables";

:host {
  flex-basis: 100%;
}

#task-manager-container {
  width: 100%;
  height: 100%;
  background-color: $window_background;
  user-select: none;
  overflow: auto;
  color: $window_font_color;
}

#resource-usage-table {
  width: 100%;
  height: 100%;
  padding: 15px 30px 30px;
  box-sizing: border-box;

  .header {
    font-size: 15pt;
    padding-bottom: 10px;
  }

  .chart-container {
    position: relative;
    display: flex;
    margin-top: 10px;

    .chart-container-2 {
      width: 3em;

      .chart {
        position: relative;
        width: 100%;
        height: 6em;
        background-color: $task_manager_chart_back;
        border: solid;
        border-color: $task_manager_chart_border;
        border-width: 1.5px;

        &#temp-chart {
          background-image: linear-gradient(
            to bottom,
            #cf2610,
            #f5c415 28%,
            #d9cc31 47%,
            #86b377 65%,
            #088ce4
          );
        }

        .indicator {
          position: absolute;
          width: 99%;
          bottom: 0;
        }

        .green-indicator {
          background-color: $green;
        }

        .red-indicator {
          background-color: $red;
        }

        .line-indicator {
          width: auto;
          left: -2px;
          right: -2px;
          border-top: 3px solid #373737;
        }
      }
    }

    .value-container {
      margin-left: 10px;
      align-self: center;
      line-height: 1.4em;

      .description {
        color: $window_font_color;
      }

      .value {
        font-size: 20pt;
      }

      .top-marking {
        color: #838789;
        position: absolute;
        top: 0;
      }

      .bottom-marking {
        color: #838789;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
