@import "~src/constants";

:host {
  flex-basis: 100%;
}

#task-manager-container {
  width: 100%;
  height: 100%;
  background-color: #CAD7DB;
  user-select: none;
  overflow: auto;
}


#resource-usage-table {
  width: 100%;
  height: 100%;
  padding: 15px 30px 30px;
  box-sizing: border-box;


  .header {
    font-size: 15pt;
    padding-bottom: 10px;
  }

  .chart-container {
    position: relative;
    display: flex;
    margin-top: 10px;

    .chart-container-2 {
      width: 3em;

      .chart {
        position: relative;
        width: 100%;
        height: 6em;
        background-color: white;

        &#temp-chart {
          background-image: linear-gradient(to bottom, #CF2610, #F5C415 28%, #D9CC31 47%, #86B377 65%, #088CE4);
        }

        .indicator {
          position: absolute;
          width: 100%;
          bottom: 0;
        }

        .green-indicator {
          background-color: $green;
        }

        .red-indicator {
          background-color: $red;
        }

        .line-indicator {
          width: auto;
          left: -2px;
          right: -2px;
          border-top: 3px solid #373737;
        }
      }
    }

    .value-container {
      margin-left: 10px;
      align-self: center;
      line-height: 1.4em;

      .description {
        color: #838789;
      }

      .value {
        font-size: 20pt;
      }

      .top-marking {
        color: #838789;
        position: absolute;
        top: 0
      }

      .bottom-marking {
        color: #838789;
        position: absolute;
        bottom: 0;
      }
    }

  }

}
