<h1>Inventory</h1>
<div id="inventory">
  <div (dragstart)="dragStart($event, item)" *ngFor="let item of items" class="item" draggable="true">
    <img [alt]="getCategoryIconName(item.properties.category)"
         [src]="'assets/device/parts/' + getCategoryIconName(item.properties.category)" draggable="false"
         height="128" width="128">
    <p>{{item.properties.name}}</p>
  </div>
</div>

<div id="trade">
  <form (submit)="sendTradeItem(tradeDestination); $event.preventDefault()">
    <label for="inventory">
      Send
      <input (dragover)="dragOver($event)" (drop)="dragDrop($event)" [value]="tradeItem?.properties.name"
             id="item-input" name="item"
             placeholder="Drag item here" readonly type="text">
    </label>
    <input [value]="tradeItem?.element_uuid" name="item-uuid" type="hidden">
    <label>
      to
      <input #tradeDestination (dragover)="$event.preventDefault()" id="destination-input" maxlength="36"
             name="destination"
             pattern="^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89AB][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$"
             placeholder="Player UUID" required
             type="text">
    </label>
    <input [disabled]="!tradeItem" type="submit" value="!">
    <span *ngIf="tradeErrorMessage" class="error-message">{{tradeErrorMessage}}</span>
  </form>
  <p>Your own UUID: <span class="uuid">{{apiService.account.uuid}}</span></p>
</div>
