div.content {
  display: flex;
  flex-direction: column;

  padding: 50px;

  div.title {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

    img {
      height: 70px;
      margin-right: 20px;
    }

    span {
      color: white;
      font-size: 48px;
      font-weight: bold;
      line-height: 51px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;

      padding-bottom: 10px;

      &.strength {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
          width: 16.666666%;
          height: 6px;
          background-color: #838789;
          border-radius: 10px;
          transition: background-color 200ms ease-in-out;

          &.red-box {
            background-color: red;
          }

          &.yellow-box {
            background-color: yellow;
          }

          &.green-box {
            background-color: green;
          }
        }
      }

      span,
      input {
        color: white;
        font-size: 16px;

        outline: none;
        border: none;
        background-color: transparent;
      }

      input {
        padding: 10px;
        border-radius: 10px;
        background-color: #838789;
        transition: background-color 200ms ease-in-out;
      }

      input[type=submit] {
        cursor: pointer;
        background-color: #1e910d;
      }

      input[disabled] {
        background-color: #45494b;
        cursor: default;
      }
    }
  }

  p {
    color: white;
    text-align: center;
    margin: 5px 0;

    a {
      color: #1e910d;
      transition: color 200ms ease-in-out;
      text-decoration: none;

      &:hover {
        color: #16630b;
      }
    }

    &.error {
      color: red;
    }
  }
}
