<app-account-page-base>
  <div class="content">

    <div class="title">
      <img alt="Cryptic" src="assets/desktop/img/logo.svg">
      <span i18n>Sign Up</span>
    </div>

    <form [formGroup]="form">
      <label>
        <input autocomplete="username" formControlName="username" i18n-placeholder placeholder="Username" type="text">
      </label>

      <label>
        <input autocomplete="new-password" formControlName="password" i18n-placeholder placeholder="Password"
               type="password">
      </label>

      <label class="strength">
        <div [class.red-box]="passwordStrength >= 1"></div>
        <div [class.red-box]="passwordStrength >= 2"></div>
        <div [class.yellow-box]="passwordStrength >= 3"></div>
        <div [class.green-box]="passwordStrength >= 4"></div>
        <div [class.green-box]="passwordStrength >= 5"></div>
      </label>

      <label>
        <input autocomplete="new-password" formControlName="passwordConfirm" i18n-placeholder
               placeholder="Confirm Password"
               type="password">
      </label>

      <label>
        <input (click)="signUp()" [disabled]="!form.valid" disabled i18n-value type="submit" value="Sign Up">
      </label>
    </form>

    <p *ngIf="error" class="error">{{error}}</p>
    <p i18n>The username must have between 2 and 32 characters.</p>
    <p i18n>Your password has to be at least 8 characters long, it must contain at least one uppercase letter, one lowercase
      letter and one number.</p>
    <p i18n>If you have already created an account, then click
      <a [routerLink]="['/login']"
         [state]="{ username: form.value.username, password: form.value.password }">here</a>.
    </p>
  </div>
</app-account-page-base>
