/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "controls";
@import "context-menu";

app-root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

button, input, select, textarea, span, div, a, p, small {
  font-family: $default-font;
}
