@import "variables";

:host {
  flex-basis: 100%;
}

.introduction-app-container {
  background-color:$window-background;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.introduction-app {
  color: $window-font-color;
  max-height: 100%;
  overflow-y: auto;

  h2 {
    display: inline;
  }

  .side-menu {
    background-color:#1E2529;
    color: $window-font-color;
    height: 100%;
    width: 160px;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
    div {
      background-color:#1E2529;
      color: $window-font-color;
      padding: 6px 8px 6px 16px;
      font-size: 25px;
      display: block;
    }
    div:hover {
      background-color: #293338;
    }

    .active {
      background-color: #293338;
    }
  }

  .page-text {
    margin-left: 161px;
  }
}
