<div class="item">
  <div (click)="specificationsVisible = !specificationsVisible" class="body">
    <div class="content">
      <span class="name">{{item.name}}</span>
      <svg [@arrowUpwardsDownwards]="specificationsVisible ? 'downwards' : 'upwards'" class="arrow"
           viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
        <path d="M 7 3 L 13 10 L 1 10 Z" fill="black"/>
      </svg>
    </div>

    <div class="footer">
      <span>{{item.price / 1000}} MC</span>

      <span (click)="removeFromCart(); $event.stopPropagation()" *ngIf="inCart" class="btn btn-error">Remove</span>
      <span (click)="addToCart(); $event.stopPropagation()" *ngIf="!inCart" class="btn btn-success">Add</span>
    </div>
  </div>

  <div #specificationsDiv *ngIf="specificationsVisible" [@expandCollapse] [style.columns]="getSpecificationsColumnCount(specificationsDiv.clientWidth)"
       class="specifications">
    <h3>Technical specifications</h3>
    <div *ngFor="let category of specifications | keyvalue: originalOrder" class="category">
      <h4>{{category.key}}</h4>
      <table>
        <ng-container *ngFor="let spec of category.value | keyvalue: originalOrder">
          <tr *ngIf="spec.value">
            <td>{{spec.key}}:</td>
            <td>{{spec.value}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>
