@import "../../../../../constants";

:host {
  display: block;
  width: 100%;

  div.item {
    width: 100%;

    div.body {
      padding: 10px;
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

      display: flex;
      flex-direction: column;

      div {
        width: 100%;
      }

      div.content {
        span.name {
        }
      }

      div.footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
