@import "variables";

.green {
  color: $green;
}

.red {
  color: $red;
}

div.transaction {
  display: flex;
  flex-direction: column;

  margin: 10px;
  padding: 10px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  div.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {

    }
  }
}
