<div class="startup-animation">

    <div #circle class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
           <circle cx="50" cy="50" r="49" fill="none" stroke="black" stroke-width=".5"/>
        </svg>
    </div>

    <div class="percentage">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
           <circle cx="50" cy="50" r="49" fill="none" stroke="black" stroke-width=".5"/>
        </svg>
        <div #display class="display"></div>
    </div>

    <img src="assets/desktop/img/logo.svg" class="logo">

    <div #drop class="drop-wrapper">
        <div class="drop"></div>
    </div>
</div>
