<div class="editor-container">
  <div class="editor-menu">
    <button [disabled]=!fileOpened>Save</button>
    <label>
      Path: <input #fileInput (keydown.enter)="enter(fileInput.value); $event.preventDefault()"
                   [style.border-color]="error ? 'red' : 'black'" type="text" class="file-input"
                   placeholder="/path/to/file">
    </label>
    <span class="error">{{error}}</span>
  </div>

  <textarea class="editor-text-field" [disabled]="!fileOpened" height="500">
    {{(fileOpened) ? fileContent : 'No file open'}}
  </textarea>
</div>
