<div class="editor-container">
  <div class="editor-menu">

    <label>
      Path: <input #fileInput (keydown.enter)="enter(fileInput.value); $event.preventDefault()"
                   [style.border-color]="error ? 'red' : 'black'" class="file-input" placeholder="/path/to/file"
                   type="text">
    </label>
    <span class="error">{{error}}</span>
    <button (click)="save()" [disabled]=!fileOpened class="save-btn">Save</button>

  </div>

  <textarea [(ngModel)]="fileContent" [disabled]="!fileOpened" class="editor-text-field" maxlength="255">
    {{(fileOpened) ? fileContent : 'No file open'}}
  </textarea>
  <div *ngIf="deleted_popup" class="popup">
    <div class="popup-content">
      The File "{{filePath}}" was deleted.
      <br>
      <button (click)="force_close()" class="btn">Close this Editor</button>
    </div>
  </div>

  <div *ngIf="changed_popup" class="popup">
    <div class="popup-content">
      The File "{{filePath}}" was changed.
      <br>
      <button (click)="reload()" class="btn">Reload File</button>
    </div>
  </div>

</div>
