<div class="wallet-first-startup" msg="">
  <!--<img class="background" src="../../../../../assets/desktop/img/wallet-app/background_wallet.svg" height="100%" width="100%"/>-->
  <!--<img src="../../../../../assets/desktop/img/wallet-app/background_wallet.svg" class="background"/>-->
  <div class="background">

  </div>
  <div class="content">
    <div class="welcome">
      Welcome to the Wallet App!
    </div>
    <br>
    <button (click)="performClose.emit()" class="add-wallet-btn">ADD WALLET</button>
  </div>


</div>
